<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Color.css | Documentation | Web Design Framework | </title>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
    <meta name="title" content="Color.css | A Web Color Framework | Color | Material Design">
    <meta name="description" content="A Web Framework To Design And Color Websites Easily">
    <meta name="keywords" content="Colors,colors,color,gradients, web design, web developement, shades, color types, material design, web framework, easy, modern, latest">
    <meta name="robots" content="index,follow">
    <meta name="language" content="English">
    <link rel="stylesheet" href="{% static 'color.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'theme.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <script type="text/javascript" src="{% static 'color.js' %}"></script>
  </head>
  <body>

    <div class="w3-container w3-blue w3-card-4">
      <h1>Color.css</h1>

    </div>

      <div class="w3-container w3-margin w3-centered w3-border">
        <table class="w3-table w3-margin w3-white">
    <tr>
      <th>Color Value</th>

    </tr>
    <tr class="bg-red-1">
      <td>red-1</td>

    </tr>
    <tr class="bg-red-2">
      <td>red-2</td></tr>
    <tr class="bg-red-3">
      <td>red-3</td>
    </tr>
    <tr class="bg-red-4">
      <td>red-4</td>
    </tr>
    <tr class="bg-red-5">
      <td>red-5</td>
    </tr>
    <tr class="bg-red-6">
      <td>red-6</td>
    </tr>
    <tr class="bg-red-7">
      <td>red-7</td>
    </tr>
    <tr class="bg-red-8">
      <td>red-8</td>
    </tr>
    <tr class="bg-red-9">
      <td>red-9</td>
    </tr>
    <tr class="bg-red-10">
      <td>red-10</td>
    </tr>
  </table>
</div>


<div class="w3-container w3-margin w3-centepink w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-pink-1">
<td>pink-1</td>

</tr>
<tr class="bg-pink-2">
<td>pink-2</td></tr>
<tr class="bg-pink-3">
<td>pink-3</td>
</tr>
<tr class="bg-pink-4">
<td>pink-4</td>
</tr>
<tr class="bg-pink-5">
<td>pink-5</td>
</tr>
<tr class="bg-pink-6">
<td>pink-6</td>
</tr>
<tr class="bg-pink-7">
<td>pink-7</td>
</tr>
<tr class="bg-pink-8">
<td>pink-8</td>
</tr>
<tr class="bg-pink-9">
<td>pink-9</td>
</tr>
<tr class="bg-pink-10">
<td>pink-10</td>
</tr>
</table>
</div>




<div class="w3-container w3-margin w3-centepurple w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-purple-1">
<td>purple-1</td>

</tr>
<tr class="bg-purple-2">
<td>purple-2</td></tr>
<tr class="bg-purple-3">
<td>purple-3</td>
</tr>
<tr class="bg-purple-4">
<td>purple-4</td>
</tr>
<tr class="bg-purple-5">
<td>purple-5</td>
</tr>
<tr class="bg-purple-6">
<td>purple-6</td>
</tr>
<tr class="bg-purple-7">
<td>purple-7</td>
</tr>
<tr class="bg-purple-8">
<td>purple-8</td>
</tr>
<tr class="bg-purple-9">
<td>purple-9</td>
</tr>
<tr class="bg-purple-10">
<td>purple-10</td>
</tr>
</table>
</div>


<div class="w3-container w3-margin w3-centedeep-purple w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-deep-purple-1">
<td>deep-purple-1</td>

</tr>
<tr class="bg-deep-purple-2">
<td>deep-purple-2</td></tr>
<tr class="bg-deep-purple-3">
<td>deep-purple-3</td>
</tr>
<tr class="bg-deep-purple-4">
<td>deep-purple-4</td>
</tr>
<tr class="bg-deep-purple-5">
<td>deep-purple-5</td>
</tr>
<tr class="bg-deep-purple-6">
<td>deep-purple-6</td>
</tr>
<tr class="bg-deep-purple-7">
<td>deep-purple-7</td>
</tr>
<tr class="bg-deep-purple-8">
<td>deep-purple-8</td>
</tr>
<tr class="bg-deep-purple-9">
<td>deep-purple-9</td>
</tr>
<tr class="bg-deep-purple-10">
<td>deep-purple-10</td>
</tr>
</table>
</div>



<div class="w3-container w3-margin w3-centeindigo w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-indigo-1">
<td>indigo-1</td>

</tr>
<tr class="bg-indigo-2">
<td>indigo-2</td></tr>
<tr class="bg-indigo-3">
<td>indigo-3</td>
</tr>
<tr class="bg-indigo-4">
<td>indigo-4</td>
</tr>
<tr class="bg-indigo-5">
<td>indigo-5</td>
</tr>
<tr class="bg-indigo-6">
<td>indigo-6</td>
</tr>
<tr class="bg-indigo-7">
<td>indigo-7</td>
</tr>
<tr class="bg-indigo-8">
<td>indigo-8</td>
</tr>
<tr class="bg-indigo-9">
<td>indigo-9</td>
</tr>
<tr class="bg-indigo-10">
<td>indigo-10</td>
</tr>
</table>
</div>



<div class="w3-container w3-margin w3-centeblue w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-blue-1">
<td>blue-1</td>

</tr>
<tr class="bg-blue-2">
<td>blue-2</td></tr>
<tr class="bg-blue-3">
<td>blue-3</td>
</tr>
<tr class="bg-blue-4">
<td>blue-4</td>
</tr>
<tr class="bg-blue-5">
<td>blue-5</td>
</tr>
<tr class="bg-blue-6">
<td>blue-6</td>
</tr>
<tr class="bg-blue-7">
<td>blue-7</td>
</tr>
<tr class="bg-blue-8">
<td>blue-8</td>
</tr>
<tr class="bg-blue-9">
<td>blue-9</td>
</tr>
<tr class="bg-blue-10">
<td>blue-10</td>
</tr>
</table>
</div>


<div class="w3-container w3-margin w3-centeblue-grey w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-blue-grey-1">
<td>blue-grey-1</td>

</tr>
<tr class="bg-blue-grey-2">
<td>blue-grey-2</td></tr>
<tr class="bg-blue-grey-3">
<td>blue-grey-3</td>
</tr>
<tr class="bg-blue-grey-4">
<td>blue-grey-4</td>
</tr>
<tr class="bg-blue-grey-5">
<td>blue-grey-5</td>
</tr>
<tr class="bg-blue-grey-6">
<td>blue-grey-6</td>
</tr>
<tr class="bg-blue-grey-7">
<td>blue-grey-7</td>
</tr>
<tr class="bg-blue-grey-8">
<td>blue-grey-8</td>
</tr>
<tr class="bg-blue-grey-9">
<td>blue-grey-9</td>
</tr>
<tr class="bg-blue-grey-10">
<td>blue-grey-10</td>
</tr>
</table>
</div>


<div class="w3-container w3-margin w3-centegrey w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-grey-1">
<td>grey-1</td>

</tr>
<tr class="bg-grey-2">
<td>grey-2</td></tr>
<tr class="bg-grey-3">
<td>grey-3</td>
</tr>
<tr class="bg-grey-4">
<td>grey-4</td>
</tr>
<tr class="bg-grey-5">
<td>grey-5</td>
</tr>
<tr class="bg-grey-6">
<td>grey-6</td>
</tr>
<tr class="bg-grey-7">
<td>grey-7</td>
</tr>
<tr class="bg-grey-8">
<td>grey-8</td>
</tr>
<tr class="bg-grey-9">
<td>grey-9</td>
</tr>
<tr class="bg-grey-10">
<td>grey-10</td>
</tr>
</table>
</div>


<div class="w3-container w3-margin w3-centebrown w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-brown-1">
<td>brown-1</td>

</tr>
<tr class="bg-brown-2">
<td>brown-2</td></tr>
<tr class="bg-brown-3">
<td>brown-3</td>
</tr>
<tr class="bg-brown-4">
<td>brown-4</td>
</tr>
<tr class="bg-brown-5">
<td>brown-5</td>
</tr>
<tr class="bg-brown-6">
<td>brown-6</td>
</tr>
<tr class="bg-brown-7">
<td>brown-7</td>
</tr>
<tr class="bg-brown-8">
<td>brown-8</td>
</tr>
<tr class="bg-brown-9">
<td>brown-9</td>
</tr>
<tr class="bg-brown-10">
<td>brown-10</td>
</tr>
</table>
</div>


<div class="w3-container w3-margin w3-centedeep-orange w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-deep-orange-1">
<td>deep-orange-1</td>

</tr>
<tr class="bg-deep-orange-2">
<td>deep-orange-2</td></tr>
<tr class="bg-deep-orange-3">
<td>deep-orange-3</td>
</tr>
<tr class="bg-deep-orange-4">
<td>deep-orange-4</td>
</tr>
<tr class="bg-deep-orange-5">
<td>deep-orange-5</td>
</tr>
<tr class="bg-deep-orange-6">
<td>deep-orange-6</td>
</tr>
<tr class="bg-deep-orange-7">
<td>deep-orange-7</td>
</tr>
<tr class="bg-deep-orange-8">
<td>deep-orange-8</td>
</tr>
<tr class="bg-deep-orange-9">
<td>deep-orange-9</td>
</tr>
<tr class="bg-deep-orange-10">
<td>deep-orange-10</td>
</tr>
</table>
</div>


<div class="w3-container w3-margin w3-centelight-blue w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-light-blue-1">
<td>light-blue-1</td>

</tr>
<tr class="bg-light-blue-2">
<td>light-blue-2</td></tr>
<tr class="bg-light-blue-3">
<td>light-blue-3</td>
</tr>
<tr class="bg-light-blue-4">
<td>light-blue-4</td>
</tr>
<tr class="bg-light-blue-5">
<td>light-blue-5</td>
</tr>
<tr class="bg-light-blue-6">
<td>light-blue-6</td>
</tr>
<tr class="bg-light-blue-7">
<td>light-blue-7</td>
</tr>
<tr class="bg-light-blue-8">
<td>light-blue-8</td>
</tr>
<tr class="bg-light-blue-9">
<td>light-blue-9</td>
</tr>
<tr class="bg-light-blue-10">
<td>light-blue-10</td>
</tr>
</table>
</div>



<div class="w3-container w3-margin w3-centecyan w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-cyan-1">
<td>cyan-1</td>

</tr>
<tr class="bg-cyan-2">
<td>cyan-2</td></tr>
<tr class="bg-cyan-3">
<td>cyan-3</td>
</tr>
<tr class="bg-cyan-4">
<td>cyan-4</td>
</tr>
<tr class="bg-cyan-5">
<td>cyan-5</td>
</tr>
<tr class="bg-cyan-6">
<td>cyan-6</td>
</tr>
<tr class="bg-cyan-7">
<td>cyan-7</td>
</tr>
<tr class="bg-cyan-8">
<td>cyan-8</td>
</tr>
<tr class="bg-cyan-9">
<td>cyan-9</td>
</tr>
<tr class="bg-cyan-10">
<td>cyan-10</td>
</tr>
</table>
</div>



<div class="w3-container w3-margin w3-centeteal w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-teal-1">
<td>teal-1</td>

</tr>
<tr class="bg-teal-2">
<td>teal-2</td></tr>
<tr class="bg-teal-3">
<td>teal-3</td>
</tr>
<tr class="bg-teal-4">
<td>teal-4</td>
</tr>
<tr class="bg-teal-5">
<td>teal-5</td>
</tr>
<tr class="bg-teal-6">
<td>teal-6</td>
</tr>
<tr class="bg-teal-7">
<td>teal-7</td>
</tr>
<tr class="bg-teal-8">
<td>teal-8</td>
</tr>
<tr class="bg-teal-9">
<td>teal-9</td>
</tr>
<tr class="bg-teal-10">
<td>teal-10</td>
</tr>
</table>
</div>



<div class="w3-container w3-margin w3-centegreen w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-green-1">
<td>green-1</td>

</tr>
<tr class="bg-green-2">
<td>green-2</td></tr>
<tr class="bg-green-3">
<td>green-3</td>
</tr>
<tr class="bg-green-4">
<td>green-4</td>
</tr>
<tr class="bg-green-5">
<td>green-5</td>
</tr>
<tr class="bg-green-6">
<td>green-6</td>
</tr>
<tr class="bg-green-7">
<td>green-7</td>
</tr>
<tr class="bg-green-8">
<td>green-8</td>
</tr>
<tr class="bg-green-9">
<td>green-9</td>
</tr>
<tr class="bg-green-10">
<td>green-10</td>
</tr>
</table>
</div>




<div class="w3-container w3-margin w3-centelight-green w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-light-green-1">
<td>light-green-1</td>

</tr>
<tr class="bg-light-green-2">
<td>light-green-2</td></tr>
<tr class="bg-light-green-3">
<td>light-green-3</td>
</tr>
<tr class="bg-light-green-4">
<td>light-green-4</td>
</tr>
<tr class="bg-light-green-5">
<td>light-green-5</td>
</tr>
<tr class="bg-light-green-6">
<td>light-green-6</td>
</tr>
<tr class="bg-light-green-7">
<td>light-green-7</td>
</tr>
<tr class="bg-light-green-8">
<td>light-green-8</td>
</tr>
<tr class="bg-light-green-9">
<td>light-green-9</td>
</tr>
<tr class="bg-light-green-10">
<td>light-green-10</td>
</tr>
</table>
</div>



<div class="w3-container w3-margin w3-centelime w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-lime-1">
<td>lime-1</td>

</tr>
<tr class="bg-lime-2">
<td>lime-2</td></tr>
<tr class="bg-lime-3">
<td>lime-3</td>
</tr>
<tr class="bg-lime-4">
<td>lime-4</td>
</tr>
<tr class="bg-lime-5">
<td>lime-5</td>
</tr>
<tr class="bg-lime-6">
<td>lime-6</td>
</tr>
<tr class="bg-lime-7">
<td>lime-7</td>
</tr>
<tr class="bg-lime-8">
<td>lime-8</td>
</tr>
<tr class="bg-lime-9">
<td>lime-9</td>
</tr>
<tr class="bg-lime-10">
<td>lime-10</td>
</tr>
</table>
</div>




<div class="w3-container w3-margin w3-centeyellow w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-yellow-1">
<td>yellow-1</td>

</tr>
<tr class="bg-yellow-2">
<td>yellow-2</td></tr>
<tr class="bg-yellow-3">
<td>yellow-3</td>
</tr>
<tr class="bg-yellow-4">
<td>yellow-4</td>
</tr>
<tr class="bg-yellow-5">
<td>yellow-5</td>
</tr>
<tr class="bg-yellow-6">
<td>yellow-6</td>
</tr>
<tr class="bg-yellow-7">
<td>yellow-7</td>
</tr>
<tr class="bg-yellow-8">
<td>yellow-8</td>
</tr>
<tr class="bg-yellow-9">
<td>yellow-9</td>
</tr>
<tr class="bg-yellow-10">
<td>yellow-10</td>
</tr>
</table>
</div>




<div class="w3-container w3-margin w3-centeamber w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-amber-1">
<td>amber-1</td>

</tr>
<tr class="bg-amber-2">
<td>amber-2</td></tr>
<tr class="bg-amber-3">
<td>amber-3</td>
</tr>
<tr class="bg-amber-4">
<td>amber-4</td>
</tr>
<tr class="bg-amber-5">
<td>amber-5</td>
</tr>
<tr class="bg-amber-6">
<td>amber-6</td>
</tr>
<tr class="bg-amber-7">
<td>amber-7</td>
</tr>
<tr class="bg-amber-8">
<td>amber-8</td>
</tr>
<tr class="bg-amber-9">
<td>amber-9</td>
</tr>
<tr class="bg-amber-10">
<td>amber-10</td>
</tr>
</table>
</div>



<div class="w3-container w3-margin w3-centeorange w3-border">
  <table class="w3-table w3-margin w3-white">
<tr>
<th>Color Value</th>

</tr>
<tr class="bg-orange-1">
<td>orange-1</td>

</tr>
<tr class="bg-orange-2">
<td>orange-2</td></tr>
<tr class="bg-orange-3">
<td>orange-3</td>
</tr>
<tr class="bg-orange-4">
<td>orange-4</td>
</tr>
<tr class="bg-orange-5">
<td>orange-5</td>
</tr>
<tr class="bg-orange-6">
<td>orange-6</td>
</tr>
<tr class="bg-orange-7">
<td>orange-7</td>
</tr>
<tr class="bg-orange-8">
<td>orange-8</td>
</tr>
<tr class="bg-orange-9">
<td>orange-9</td>
</tr>
<tr class="bg-orange-10">
<td>orange-10</td>
</tr>
</table>
</div>












  </body>
</html>
