<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
    <meta name="title" content="Color.css | A Web Color Framework | Color | Material Design">
    <meta name="description" content="A Web Framework To Design And Color Websites Easily">
    <meta name="keywords" content="Colors,colors,color,gradients, web design, web developement, shades, color types, material design, web framework, easy, modern, latest">
    <meta name="robots" content="index,follow">
    <meta name="language" content="English">
    <title>Color.css | A Web Color Framework | Color | Material Design</title>
    <link rel="stylesheet" href="{% static 'color.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'theme.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <script type="text/javascript" src="{% static 'color.js' %}"></script>
  </head>
  <body class="bg-blue-6">


    <div class="w3-container w3-white w3-display-middle w3-card-4 w3-padding-24">
      <div class="w3-container">
        <h1 class=" name  text-blue-6">Color.css</h1>
        <center>
        <h4 class="text-blue-6">WEb Design Framework</h4>
      </center>
      </div>

    </div>

    <div class="w3-container w3-padding-24 download">
      <h5>Download <a href="{% static 'color.css.zip' %}" class="w3-tag w3-red">Color.css</a> Or
        <a href="/documentation" class="w3-tag w3-white">How it Works!</a></h5>
    </div>



  </body>
</html>
